@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    --white: hsl(0, 0%, 100%);
    --darkcyan: hsl(183, 100%, 15%);
    --darkgrayish43: hsl(186, 14%, 43%);
    --darkgrayish56: hsl(184, 14%, 56%);
    --lightgrayish84: hsl(185, 41%, 84%);
    --lightgrayish97: hsl(189, 41%, 97%);
    --primary: hsl(172, 67%, 45%);
    --error: hsl(2, 56%, 65%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
    outline: 0;
}

html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    overflow-x: hidden;
    display: flex;
}

button {
    cursor: pointer;
}

.mb-40 {
    margin-bottom: 40px;
}

.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: var(--lightgrayish84);
}

.container {
    max-width: 920px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    margin: 150px 0 80px 0;
}

.row {
    display: flex;
    width: 100%;
    background-color: var(--white);
    border-radius: 20px;
    padding: 30px;
    justify-content: space-between;
}

.row-left {
    width: 48%;
    padding: 10px;
}

.row-right {
    width: 48%;
    background-color: var(--darkcyan);
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-block {
}

.block-label {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--darkgrayish43);
    margin: 5px 0;
    display: block;
}

.block-input {
    width: 100%;
    text-align: right;
    padding: 5px 20px;
    font-size: 2.4rem;
    border: none;
    background-color: var(--lightgrayish97);
    border-radius: 5px;
    color: var(--darkcyan);
    font-weight: 700;
}

#bill.block-input {
    background: url("./images/icon-dollar.svg") no-repeat;
	background-size: 0.5em;
	background-position: 0.5em;
	background-color: hsl(189, 41%, 97%);
}

#people.block-input {
    background: url("./images/icon-person.svg") no-repeat;
	background-size: 0.5em;
	background-position: 0.5em;
	background-color: hsl(189, 41%, 97%);
}


.block-input:focus, .custom:focus {
    border: 2px solid var(--primary);
}

::placeholder {
    color: var(--darkgrayish56);
}

.tip-percent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn {
    width: 32%;
    border: none;
    font-size: 2.4rem;
    background-color: var(--darkcyan);
    color: var(--lightgrayish97);
    font-weight: 700;
    border-radius: 5px;
    margin: 8px 0;
    padding: 5px 0;
    transition: background-color 100ms ease-in-out;
}

.custom {
    background-color: var(--lightgrayish97);
    text-align: right;
    color: var(--darkcyan);
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 5px;
    margin: 8px 0;
    width: 32%;
    border: none;
    font-size: 2.4rem;
}

.custom::placeholder {
    text-align: center;
}

.btn:not(:last-child):hover, .btn-active {
    background-color: var(--primary);
    color: var(--darkcyan);
}

.form-money {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.form-description {
    color: var(--lightgrayish84);
    font-size: 1.5rem;
    font-weight: 700;
}

.form-small {
    font-size: 1.2rem;
    color: var(--darkgrayish56);
}

.money {
    font-size: 5rem;
    font-weight: 700;
    color: var(--primary);
}

.btn-reset {
    width: 100%;
    padding: 8px 0;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    color: var(--darkcyan);
    border-radius: 5px;
    background-color: hsl(183, 100%, 22%);
    opacity: 0.9;
}

.reset-active {
    background-color: var(--primary);
    opacity: 1;
}

.form-group-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-error {
    color: var(--error);
    font-size: 1.6rem;
    font-weight: 700;
}

.input-error, .input-error:focus {
    border: 2px solid var(--error);
}

/* --white: hsl(0, 0%, 100%);
   --darkcyan: hsl(183, 100%, 15%);
   --darkgrayish43: hsl(186, 14%, 43%);
   --darkgrayish56: hsl(184, 14%, 56%);
   --lightgrayish84: hsl(185, 41%, 84%);
   --lightgrayish97: hsl(189, 41%, 97%);
   --primary: hsl(172, 67%, 45%); */

@media (max-width: 800px) {
    .logo {
        margin: 50px 0 40px 0;
    }
    .row {
        padding: 20px;
        width: 100%;
    }
    .row-left {
        width: 100%;
        margin-bottom: 30px;
    }
    .row-right {
        width: 100%;
        padding: 20px;
    }
    .btn,
    .custom {
        width: 48%;
    }
    .row {
        flex-direction: column;
    }
    .btn-reset {
        margin-top: 30px;
    }
}
